<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>KIPrateur</title>
    <meta name="description" content="KIPrateur">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <meta charset="utf-8" />
    <meta name="language" content="fr" />
        
    <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/logo-small.png">
    
    <!-- Material Icons existantes -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    
    <!-- Vos styles existants -->
    <link href="<%= htmlWebpackPlugin.files.publicPath %>static/css/style.css" rel="stylesheet">
    <link href="<%= htmlWebpackPlugin.files.publicPath %>static/all.css" rel="stylesheet">
    <link href="<%= htmlWebpackPlugin.files.publicPath %>static/fontawesome5/fontawesome-pro-5.11.2-web/css/svg-with-js.css" rel="stylesheet">
    <link href="<%= htmlWebpackPlugin.files.publicPath %>static/css/animate.css" rel="stylesheet">
    
    <link href="<%= htmlWebpackPlugin.files.publicPath %>static/fontawesome5/fontawesome-pro-5.11.2-web/css/fontawesome.css" rel="stylesheet">
    <link href="<%= htmlWebpackPlugin.files.publicPath %>static/fontawesome5/fontawesome-pro-5.11.2-web/css/regular.css" rel="stylesheet">
    <link href="<%= htmlWebpackPlugin.files.publicPath %>static/fontawesome5/fontawesome-pro-5.11.2-web/css/light.css" rel="stylesheet">
    <link href="<%= htmlWebpackPlugin.files.publicPath %>static/fontawesome5/fontawesome-pro-5.11.2-web/css/solid.css" rel="stylesheet">
    <link href="<%= htmlWebpackPlugin.files.publicPath %>static/fontawesome5/fontawesome-pro-5.11.2-web/css/all.css" rel="stylesheet">
  </head>
  <body>
    
    <div></div>
    <div id="app"></div>
    
    <!-- Scripts JS existants -->
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/raphael-2.1.0.min.js"></script>
    <script src="/static/js/morris.js"></script>
    
    <!-- Chart.js pour les graphiques -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.js"></script>
    
  </body>
</html>