// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");

// Variables, Mixins
@import "inspinia/base/variables";
@import "inspinia/base/mixins";

// INSPINIA Theme Elements
@import "inspinia/base/typography";
@import "inspinia/base/navigation";
@import "inspinia/base/top_navigation";
@import "inspinia/base/buttons";
@import "inspinia/base/badges_labels";
@import "inspinia/base/elements";
@import "inspinia/base/sidebar";
@import "inspinia/base/base";
@import "inspinia/base/pages";
@import "inspinia/base/chat";
@import "inspinia/base/metismenu";
@import "inspinia/base/spinners";

// Landing page
@import "inspinia/base/landing";

// RTL Support
@import "inspinia/base/rtl";

// For demo only - config box style
@import "inspinia/base/theme-config";

// INSPINIA Skins
@import "inspinia/base/skins";

// Media query style
@import "inspinia/base/media";

// Custom style
// Your custom style to override base style
@import "inspinia/base/custom";

// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }

  body {
    overflow: visible !important;
  }

  #page-wrapper {
    margin: 0;
  }
}

///// Upstream those fixes to inspinia

.bg-primary {
  background-color: map-get($theme-colors, "primary") !important;
}
.label-primary {
  background-color: map-get($theme-colors, "primary");
}
.btn-primary {
  background-color: map-get($theme-colors, "primary");
  border-color: map-get($theme-colors, "primary");
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  background-color: darken(map-get($theme-colors, "primary"), 3%);
  border-color: darken(map-get($theme-colors, "primary"), 3%);
}
.btn-primary.disabled,
.btn-primary:disabled {
  background-color: darken(map-get($theme-colors, "primary"), 3%);
  border-color: darken(map-get($theme-colors, "primary"), 3%);
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: darken(map-get($theme-colors, "primary"), 3%);
  border-color: darken(map-get($theme-colors, "primary"), 3%);
}
.form-control:focus,
.single-line:focus {
  border-color: map-get($theme-colors, "primary");
}
.text-success {
  color: map-get($theme-colors, "success") !important;
}
.bg-success {
  background-color: map-get($theme-colors, "success") !important;
}
.label-primary, .badge-primary {
  background-color: map-get($theme-colors, "primary");
}

.input-group-text {
  background: white;
  border-color: #e5e6e7;
  padding: 0 0.75rem;
  font-size: inherit;
}
.dropdown-menu {
  padding: 0.5rem 0;
}
.nav > li.active {
  border-left: 4px solid map-get($theme-colors, "primary");
}
.nav.nav-tabs li {
  background: none;
  border: none;
}
#page-wrapper {
  padding-left: 5px;
  padding-right: 0;
}
select.form-control:not([size]):not([multiple]) {
  height: initial;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid $border-color;
  line-height: 1.42857;
  padding: $table-cell-padding;
  vertical-align: top;
}

.table-sm > thead > tr > th,
.table-sm > tbody > tr > th,
.table-sm > tfoot > tr > th,
.table-sm > thead > tr > td,
.table-sm > tbody > tr > td,
.table-sm > tfoot > tr > td {
  border-top: 1px solid $border-color;
  line-height: 1.42857;
  padding: $table-cell-padding-sm;
  vertical-align: top;
}

.table-borderless > thead > tr > th,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > tbody > tr > td,
.table-borderless > tfoot > tr > td {
  border: none;
}

/// ON-OFF SWITCH

.onoffswitch-label {
  border: 2px solid map-get($theme-colors, "primary");
}

.onoffswitch-inner:before {
  background-color: map-get($theme-colors, "primary");
}

.onoffswitch-switch {
  border: 2px solid map-get($theme-colors, "primary");
}
